@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,900italic,700italic,900);

html {
  font: 18px/1.4 "Roboto", sans-serif;
  text-align:left;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  color:#191919;
}

h1 {
  text-align:center;
  margin-top:0px;
  padding-top:1em;
}

a{
  text-decoration: none;
  font-weight: bold;
  color:#FB4B1D;
}

img {
  display:block;
  margin:auto;
  padding-bottom: 1em;
}

.column-1 {
  padding-left: 2em;
  padding-right: 2em;
  display:table-cell;
  width:50%;
}

.column-2 {
  padding-left: 2em;
  padding-right: 2em;
  display:table-cell;
  width:50%;
  border-left:3px solid #921C00;
}

header > p {
  padding-left:2em;
  padding-right:2em;
  padding-bottom:2em;
}

header, footer {
/*  background: url("bloc.png") repeat; */


  background: -webkit-linear-gradient(90deg, #921C00 10%, #FB4B1D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #8E0E00 10%, #1F1C18 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #8E0E00 10%, #1F1C18 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #8E0E00 10%, #1F1C18 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #8E0E00 10%, #1F1C18 90%); /* W3C */

  color:white;
}

footer {
  margin-top:2em;
  padding:2em;
}

footer > a {
  color:white;
}

details summary::-webkit-details-marker {
  color: #FB4B1D;
}