body {
    font-family: helvetica,arial,sans serif;
    font-size: 10pt;
    line-height: 15px;
    margin: 2px 0 0;
    text-align: left;
}
hr {
    background-color: #CCCCCC;
    border: 0 none;
    color: #CCCCCC;
    height: 1px;
    margin: 14px 0;
}
a {
    color: #000000;
    text-decoration: none;
}
a.underlined{
	text-decoration:underline;
}
a:hover {
    background-color: #000;
    color: #000000;
}
a:visited {
    color: #000000;
   
}
#lignes {
    height: 135px;
    left: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
#tete {
    display: block;
    left: 15px;
    margin-right: 0;
    position: fixed;
    text-align: left;
    top: 18px;
    width: 105px;
    z-index: 2;
}
#popup {
    display: block;
    height: 300px;
    left: 0;
    margin-right: 0;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 300px;
    z-index: 2;
}
#popup2 {
    display: block;
    height: 200px;
    left: 0;
    margin-right: 0;
	margin-left:10px;
    position: absolute;
    text-align: left;
    top: 3px;
    width: 300px;
    z-index: 2;
}
#popup3 {
    display: block;
    height: 120px;
    left: 0;
    margin-right: 0;
	margin-left: 15px;
    position: absolute;
    text-align: left;
    top: 3px;
    width: 200px;
    z-index: 2;
}
#description {
    display: block;
    left: 119px;
    margin-right: 0;
    position: fixed;
    text-align: left;
    top: 18px;
    width: 330px;
    z-index: 2;
}


#navigation {
    display: block;
    left: 460px;
    margin-right: 0;
    position: fixed;
    text-align: left;
    top: 18px;
    width: 330px;
    z-index: 2;
}
#contenu {
    height: 525px;
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 2;
}
#contenuvideo { 1023
    height: 600px;
    position:relative;
    top: 150px;
	left:115px;
    z-index: 2;
	width:6000px;	
}
#contenuvideo2 { good bad
    height: 600px;
    position:absolute;
    top: 200px;
	left:115px;
    z-index: 2;
	width:135px;	
}
#menu {
	margin-top:150px;
	padding-left:15px;
}

#menu img {
    border: medium none;
}
#scroll {
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 2;
}
#scroll img {
    border: medium none;
    display: block;
    float: left;
    margin-right: 15px;
}
#scroll img grd {
    border: medium none;
    display: block;
    float: left;
    margin-right: 40px;
}
.tshirts {
    margin-left: 120px;
    padding: 0;
    width: 7300px;
	margin-top:-15px;
}
.brazil {
    margin-left: 120px;
    padding: 0;
    width: 9050px;
	margin-top:15px;
}
.keylogging {
	margin-left:120px;
	padding:0;
	width:5800px;
}
.1023 {
	margin-left:120px;
	padding:15px;
	width:6000px;
	float:left;
}
.couleurs {
	margin-left:120px;
	padding:0;
	width:5200px;
}
.payeaunoir {
	margin-left:120px;
	padding:0;
	width:4300px;
}
p.p1023 img {
	margin-left:10px;
}

object{
	float:left;
}
.gymnopedie1 {
	margin-left:120px;
	padding:0;
	width:2000px;
}
.TRP {
	margin-left:120px;
	padding:0;
	width:6200px;
}
.EOE {
	margin-left:120px;
	padding:0;
	width:15000px;
}
.anagramma {
	margin-left:120px;
	margin-top:-10px;
	padding:0;
	width:5200px;
}
.TRP2 {
	margin-left:120px;
	padding:0;
	width:5550px;
}
.neverending {
	margin-left:120px;
	padding:0;
	width:3500px;
}
.musiq3 {
	margin-left:120px;
	padding:0;
	width:800px;
	margin-top:-10px;
}
.google {
	margin-left:120px;
	padding:0;
	width:0px;
	margin-top:-15px;
}
.society {
	margin-left:120px;
	padding:0;
	width:9900px;
	margin-top:-15px;
}
.pairidaiza {
	margin-left:120px;
	padding:0;
	width:4300px;
	margin-top:30px;
}
.eyesoneurope {
	margin-left:120px;
	padding:0;
	width:6200px;
}	
.ambitus1 {
	margin-left:120px;
	padding:0;
	width:5000px;
}
.BKO {
	margin-left:120px;
	padding:0;
	width:800px;
	width:2000px;
}
.tdl {
	margin-left:120px;
	padding:0;
	width:4000px;
}
form {
 background-color:#000;
 padding:10px;
 width:350px;
 }
fieldset {
 padding:20px;
 margin-bottom:0px;
 }
legend {
 color:#a0522d;
 font-weight:bold
 }
label {
 margin-top:20px;
 display:block;
 }
label.inline {
 display:inline
 }
input {
 border:0px solid white;
 background-color:#FFF6FC;
 }
input[type=radio] {
 margin-right:50px;
 background-color:transparent;
 border:none;
 }
select, option {
 background-color:#FFF6FC;
 }
textarea {
 border:0px solid black;
 background-color:#FFF6FC;
 }
#comments {
width:280px; height:150px;	
}
#email {
	width:280px; 
	
}
.projetmenu {
width:150px; height:150px;
overflow:hidden;
display:block;	
}

.projetmenuin {
	position:relative;
width:300px; height:150px;	
background-color:#000
}
.projetmenuin img{
	float:left;
}
.projetmenutitre {
	
	float:right;
	width:140px;
	height:140px;
	padding:5px;
	color: #FFF;
	font-size:8pt;
} 
.projetmenusoustitre {
	float:right;
	width:140px;
	height:140px;
	padding:0px;
	color:#676767;
	font-size:8pt;
	
} 


.menu {
	width:150px; height:150px;
	float:left;
	margin-right:15px;	
	margin-bottom:15px;	
}
