/** Styles for a sexyer main container **/
main {
  position:absolute;
  width:100%;
  font-family: sans-serif;
  color: #424242;
  padding-left:20px;
  padding-right:20px;
  line-height: 1.32311em;
}

/** Week & date style**/
h4 {
  font-family: monospace;
  font-weight:normal;
  color:#FFFFFF;
  background-color:#e3734e;
  display: inline;
  padding:5px;
  border-radius: 5px;
}

/** Section size reduced to 80% for better readability **/
section, hr {
width:88%;
float:left;
}

/** Custom link style **/
a {
color:#006699;
font-weight: bold;
}

/** Options for the icon **/
.heraldIcon {
float: right;
position: fixed;
right: 10px;
top: 10px;
z-index: 100;
}

boldHr {
 size:30px;
}