/** Styles for a grey-background bodycontainer **/
body {

  background: url("neutral.png") repeat;
  padding: 0px;
  margin:auto;
  position:relative;
  top:-8px;
  font-size: 1.166rem;
  font-family: Roboto;
}

header {
padding-top:26px;
padding-bottom:20px;
}

img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/** styling main container so it remains centered and white **/
main {
  background-color: #FFFFFF;
  position:inherit;
  max-width: 640px;
  margin:0 auto;
  color: #424242;
  padding-left:8%;
  padding-right:8%;
  line-height: 1.666em;
  padding-top: 25px;
}

/** h1 Post title style **/
h1 {
  margin-bottom: 0em;
  font-size:55px;
  font-weight: 900;
  line-height: 1em;
}

/** h1 Post sub-title style **/
h2 {
  margin-top:5px;
  font-size:33px;
  font-weight: 700;
  line-height: 1em;
}

/** h3 questions style **/
h3 {
  margin-top:28px;
  margin-bottom:8px;
  font-weight: 500;
}

/** h4 Week & date style **/
h4 {
  font-family: monospace;
  font-weight:normal;
  color:#424242;
  background: url("neutral.png") repeat;
  display: inline;
  padding:5px;
  border-radius: 5px;
}

p {
  font-weight: 300;
}

/** Custom link style and animation on hover**/
a {
  color:#424242;
  font-weight: 500;
  -webkit-transition: .1s;
  text-decoration: none;
}

a:hover {
  color: #000;
  background-color: #FCE200;
  text-decoration: none;
  border-radius: 4px;
  padding-bottom: 1px;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;

}

