/** Styles for a grey-background bodycontainer **/
body {
  background-color: #F3F3F3;
  padding: 0px;
  margin:auto;
  position:relative;
  top:-8px;
  font-size: 1.166rem;
  font-family: Roboto;
}

/** styling main container so it remains centered and white **/
main {
  background-color: #FFFFFF;
  position:inherit;
  max-width: 640px;
  margin:0 auto;
  color: #424242;
  padding-left:200px;
  padding-right:200px;
  line-height: 1.666em;
  padding-top: 25px;
}

/** h1 Post title style **/
h1 {
  font-size:50px;
  font-weight: 900;
}

/** h1 Post sub-title style **/
h2 {
  font-size:30px;
  font-weight: 700;
}


/** h3 questions style **/
h3 {
  margin-top:28px;
  margin-bottom:8px;
  font-weight: 500;
}

/** h4 Week & date style **/
h4 {
  font-family: monospace;
  font-weight:normal;
  color:#424242;
  background-color: #F3F3F3;
  display: inline;
  padding:5px;
  border-radius: 5px;
}

p {
  font-weight: 300;
}
/** Custom link style **/

a {
  color:#424242;
  font-weight: 500;
  -webkit-transition: .1s;
}

a:hover {
  color: hotPink;
}

@media (-webkit-min-device-pixel-ratio:0) {
  a {
    background-color: #424242;
    background-image: -webkit-linear-gradient(left, hotPink 0%, orange 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .1s .1s;
    -webkit-background-clip: text;
  }

  a:hover {
    background-position: 0 0;
    color: transparent;
    transition: .1s 0;
  }
}

/** Options for floating the icon **/
#heraldIcon {
  float: right;
  position: fixed;
  line-height: 0.96em;
  height:30px;
  width:30px;
  right: 24px;
  top: 24px;
  z-index: 100;
  font-family: 'UnifrakturMaguntia', serif;
  font-size: 40px;
  color:#424242;
  text-decoration: none;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 50%;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

/** Options when hovered **/
#heraldIcon:hover {
  float: right;
  position: fixed;
  line-height: 0.96em;
  height:30px;
  width:30px;
  right: 24px;
  top: 24px;
  z-index: 100;
  font-family: 'UnifrakturMaguntia', serif;
  font-size: 40px;
  color:#e3734e;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 30px;
  border-radius: 50%;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

/** Options when clicked the icon **/
#heraldIcon:active {
  float: right;
  position: fixed;
  line-height: 0.96em;
  height:30px;
  width:30px;
  right: 24px;
  top: 24px;
  z-index: 100;
  font-family: 'UnifrakturMaguntia', serif;
  font-size: 40px;
  color:#F3F3F3;
  text-decoration: none;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 50%;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}