/** Styles for a grey-background bodycontainer **/
body {
  background-color: #F3F3F3;
  padding: 0px;
  margin:auto;
  position:relative;
  top:-8px;
  font-size: 1.166rem;
  font-family: Roboto;
}

header {
padding-top:26px;
padding-bottom:20px;
}
/** styling main container so it remains centered and white **/
main {
  background-color: #FFFFFF;
  position:inherit;
  max-width: 640px;
  margin:0 auto;
  color: #424242;
  padding-left:10%;
  padding-right:10%;
  line-height: 1.666em;
  padding-top: 25px;
}

/** h1 Post title style **/
h1 {
  margin-bottom: 0em;
  font-size:55px;
  font-weight: 900;
  line-height: 1em;
}

/** h1 Post sub-title style **/
h2 {
  margin-top:5px;
  font-size:33px;
  font-weight: 700;
}

/** h3 questions style **/
h3 {
  margin-top:28px;
  margin-bottom:8px;
  font-weight: 500;
}

/** h4 Week & date style **/
h4 {
  font-family: monospace;
  font-weight:normal;
  color:#424242;
  background-color: #F3F3F3;
  display: inline;
  padding:5px;
  border-radius: 5px;
}

p {
  font-weight: 300;
}

/** Custom link style and animation on hover**/
a {
  color:#424242;
  font-weight: 500;
  -webkit-transition: .1s;
}

a:hover {
  color: hotPink;
}

@media (-webkit-min-device-pixel-ratio:0) {
  a {
    background-color: #424242;
    background-image: -webkit-linear-gradient(left, hotPink 0%, orange 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .01s .01s;
    -webkit-background-clip: text;
  }

  a:hover {
    background-position: 0 0;
    color: transparent;
    transition: .01s 0;
  }
}